<div class="services-page" fxLayout="column">
    <div class="services-body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
        <h1>Services</h1>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="28px">
            <mat-card class="services-matcard">
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <img src="assets/images/servicebg1.png">
                    <h3>Appointment of Trade Contractors Through Online Portal</h3>
                </div>
            </mat-card>
            <mat-card class="services-matcard">
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <img src="assets/images/servicebg2.png">
                    <h3>Selection & Purchase of Construction Equipments and Tools</h3>
                </div>
            </mat-card>
            <mat-card class="services-matcard">
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <img src="assets/images/servicebg3.png">
                    <h3>Selection of Suppliers and Purchase of Materials Through Online Portal</h3>
                </div>
            </mat-card>
            <mat-card class="services-matcard">
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <img src="assets/images/servicebg4.png">
                    <h3>Selection & Acquiring Construction Equipments Through Rental Agreements</h3>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="services-footer-bg">
        <div class="services-footer" fxLayoutAlign="center center">
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="160px">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h1>100+</h1>
                    <h3>Finished Projects</h3>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h1>100+</h1>
                    <h3>Expert Developers</h3>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h1>250+</h1>
                    <h3>Expert Contractors</h3>
                </div>
            </div>
        </div>
    </div>
    
</div>