<div class="user-profile">
    <div class="user-profile-body" fxLayout="column" fxLayoutGap="24px">
        <div class="user-image">
            <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
            </label>
            <br />
            <input id="fileInput" type='file' name="image" (change)="onSelectFile($event)">
           
        </div>
        <!-- <button *ngIf="url" (click)="delete()">remove photo</button> -->
        <div>
            {{UserProfile?.name}}
        </div>

    </div>
</div>