<div class="projects-page" fxLayout="column">
    <div class="projects-body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
        <h1>Projects</h1>
        <div class="projects-row" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="36px grid">
            <mat-card class="projects-matcard">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <img src="assets/images/projectsbg1.png">
                    <h3>Real Estate Projects <br>(Residential & Commercial)</h3>
                </div>
            </mat-card>
            <mat-card class="projects-matcard">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <img src="assets/images/projectsbg2.png">
                    <h3>Industrial & Infrastructure Projects</h3>
                </div>
            </mat-card>
            <mat-card class="projects-matcard">
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <img src="assets/images/projectsbg3.png">
                    <h3>Healthcare Sector</h3>
                </div>
            </mat-card>
            <mat-card class="projects-matcard">
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <img src="assets/images/projectsbg4.png">
                    <h3>Hospitality Sector Projects</h3>
                </div>
            </mat-card>
            <mat-card class="projects-matcard">
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <img src="assets/images/projectsbg5.png">
                    <h3>Home & Commercial Interiors</h3>
                </div>
            </mat-card>
        </div>

    </div>
</div>