<div class="about-us-page" fxLayout="column">
    <div fxLayout="row">
        <div class="about-us-page-body" fxLayout="column">
            <h1>About Us</h1>
            <h5>Construction projects in India has been hugely delaying for multiple reasons. Major part of the blame
                goes to the executing agencies and material suppliers not being adequately resourceful, reliable, or not
                having the required quality standards as expected by the builder/client. Hence selection process of
                vendors and
                suppliers and closing contract agreements and purchase agreements, in way mostly favourable to the
                builder/project owner becomes the key aspect of every construction project.</h5>
        </div>
    </div>
    <!-- <div class="about-us-bg"></div> -->
    <div class="about-us-footer"></div>
</div>
<div class="whatwedo-page whatwedo-bg" fxLayout="column" fxLayoutAlign="center center">
    <div class="whatwedo-content">
        <h1>What We Do</h1>
        <h5>We at Gummadi Group, shall take full responsibility of identifying, shortlisting, selecting and appointing
            various trade contractors and suppliers required for our clients. Our team of engineers who are highly
            experienced in construction industry, procurement and contract management functions of large projects, would
            be able to select the most suitable agency, that is most suitable and economical for our clients. We shall
            handhold the client throughout the process of bidding, tender evaluation, negotiations, untill signing of
            contract agreements, providing advices safeguarding their interests at every step of the procurement
            process.
            All the interactions and communications shall be driven through our online web-portal, which will enable our
            registered customers (clients/owners, trade contractors and suppliers) to manage the whole process of
            Tendering, Purchase Quotations till Order Booking, by the press of a button, sitting at their offices, when
            we do all the background work.
        </h5>
    </div>
</div>